* {
  margin: 0;
  padding: 0;
}

 body {
  font-family: "Helvetica", "Verdana", Tahoma, sans-serif;
  font-size: 12px;
  width: 320px;
}

ul {
  padding: 3px;
  border-top: 1px solid gainsboro;
  list-style-type: none;
  overflow: none;
}

li {
  padding: 1px;
  display:flex;
  align-items:center;
  white-space: nowrap;
}

li:hover {
  background: #f6f6f6;
}

li img {
  margin-right: 5px;
}

li a {
  text-decoration: none;
  color: #707070;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

li a:hover {
  color: black;
}

li.active a {
  font-weight: bold;
  color: #333;
}

#loginForm {
  padding: 5px;
  border-top: 1px solid gainsboro;
}

#addBookmarkForm {
  text-align: center;
  padding: 5px;
  border-top: 1px solid gainsboro;
}

#logoutForm {
  text-align: center;
  padding: 5px;
  border-top: 1px solid gainsboro;
}
